.weatherCardContainer {
display: flex;
justify-content: space-around;
}

.weatherCard {
background-color: rgb(174, 233, 233);
height: 185px;
width: 205px;
text-align: center;
padding-top: 5px;
justify-content: center;
}

.button {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(86, 86, 242);
    color: white;
    width: 80px;
}

.button:hover {

    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(28, 28, 106);
    color: white;
    width: 80px;
    cursor: pointer;

}

.container {
    display: flex;
    justify-content: center;
}
