.weatherCardContainer {
    display: flex;
    justify-content: space-around;
}

.weatherCard {
    background-color: rgb(174, 233, 233);
    height: 185px;
    width: 205px;
    text-align: center;
    padding-top: 5px;
    justify-content: center;
}

.button {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(104, 134, 203);
    color: white;
    border-radius: 1rem;
    font-size: 2rem;
    border: none;
    padding: 1rem;
}

.button:hover {

    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(79, 79, 177);
    color: white;
    border: none;
    cursor: pointer;

}

.container {
    display: flex;
    justify-content: center;

}

h1 {
    color: white;
    font-family: arial;
    font-size: 3rem;
    
}

h2 {
    color: white;
    font-family: arial;
    font-size: 2rem;
}

.textbox {
    font-size: 2rem;
    text-align: center;
    border-radius: 1rem;
    border: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(112, 179, 242),rgb(130, 168, 199));
}